/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    } 
	
	
/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.remove-top { margin-top: 0px !important; }


@font-face {
    font-family: 'good_footregular';
    src: url('../font/goodfoot_regular_macroman/goodfoot-webfont.eot');
    src: url('../font/goodfoot_regular_macroman/goodfoot-webfont-.eot#iefix') format('embedded-opentype'),
         url('../font/goodfoot_regular_macroman/goodfoot-webfont.woff') format('woff'),
         url('../font/goodfoot_regular_macroman/goodfoot-webfont.ttf') format('truetype'),
         url('../font/goodfoot_regular_macroman/goodfoot-webfont.svg#good_footregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

a, .logo, ul.work-list li:before, nav.navi-container.stick, nav.navi-container, ul.navi li, .sup h1.icon-d,
.sup h1.icon-s ,
.sup h1.icon-d:after,
.sup h1.icon-s:after, .sup .est-left, .sup .est-right,  .element-item figcaption, .element-item figure, .filters li, .filters li img, ul.social-tiles li:before { -moz-transition: all .8s ease; -webkit-transition: all .8s ease; -o-transition: all .8s ease; transition: all .3s ease;  }
.element-item figure img, .sup .icon-camera, .sup .icon-glasses, ul.work-list li .work-desc, ul.social-tiles li span.tile-desc, ul.social-tiles li h5.gf, ul.social-tiles li .tile-img  { -moz-transition: all 1s ease; -webkit-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;  }
ul.work-list li:before, ul.work-list li,  ul.work-list li a,  a.btn:before, a.btn:after, 
li.name,
.logo:before, .logo:after  {-moz-transition: all .8s ease; -webkit-transition: all .8s ease; -o-transition: all .8s ease; transition: all .3s ease; }

html, body { font-family: "Cardo",Georgia,sans-serif; font-style: normal; font-weight: 400; font-size: 1.02em; color: #333;  }
html, body { height: 100% !important; width: 100%; }
.sans { font-family: "Open Sans",sans-serif; font-style: normal; font-weight: 400; }
.serif {  font-family: "Cardo",Georgia,sans-serif; font-style: normal; font-weight: 400; }
strong { font-family: "Open Sans", sans-serif; font-style: normal; font-weight: 700; }
.subheader { margin: 0 0 2.33em;  font-family: "Open Sans",sans-serif; font-style: normal; font-weight: 400; letter-spacing: 2px; text-transform: uppercase; color: #333;  }
.small { font-size: 12px; line-height: 22px; }
p { line-height: 28px; font-size: 13px;  font-family: "Open Sans",sans-serif; font-style: normal; font-weight: 400; }
a { color: #eb3b29; text-decoration: none; }
a.btn { border: 1px solid #eb3b29;  padding: 8px 17px; display: inline-block; margin-bottom: 20px; position: relative; z-index: 1; overflow: hidden; }
a.btn:hover { color: #fff; padding-right: 65px;  }
.btn-large { font-size: 34px; }
a.btn:before { content: ""; height: 100%; width: 100%; background: #eb3b29; position: absolute; top: 0; left: 0px;  z-index: -1;  -webkit-transform: scaleY(1) translateX(-100%); transform: scaleY(1) translateX(-100%);  }
a.btn:after { content: " \e001"; font-family: Flaticon; font-size: 38px;  -webkit-transform: scaleY(1) translateX(200%); transform: scaleY(1) translateX(200%); position: absolute; margin-left: 10px; opacity: 0;   }
.gf { font-family: "good_footregular", "Open Sans"; font-size: 75px ; line-height: 70px; letter-spacing: 4px; } 
.shadow { text-shadow: 1px 1px 0px #fff, 2px 2px 0px #ddd; }
a.btn:hover:before, a.btn:hover:after { -webkit-transform: scaleY(1) translateX(0); transform: scaleY(1) translateX(0); opacity: 1;  }
i.flaticon-cross37:before { margin: 0; font-size: 8px; color: #aaa; }
.red-txt { color: #eb3b29; }
.white-txt { color: #bbb; }

.wrap { width: 960px; margin: 0 auto; padding: 40px 0; }
.wrap-s { width: 660px; margin: 0 auto; padding: 40px 0; }
.wrap-f { width: 90%; margin: 0 auto; } 
.title-col,
.info-col { width:  100%;   text-align: center; }
.title-col {  margin: 50px auto 40px;  }
.divider:after { content: "  \e000 "; font-family: Flaticon; color: #aaa; }

nav.navi-container { position: absolute; left: 0; right: 0; bottom: 0; z-index: 9;  padding: 10px 0; width: 100%; opacity: 0.3;    }
nav.navi-container:hover { opacity: 1;  }
nav.navi-container.stick {  -webkit-animation-delay: none !important; animation-delay: none !important;  -webkit-animation: none !important;  position: fixed; bottom: inherit; top: 0; background: #fff; background: rgba(255,255,255,0.9); padding: 10px 0; opacity: 1;  }
nav.navi-container.stick li a { color: #333; }
ul.navi { padding: 0; list-style: none; text-align: center; }
	
	
	
	nav.navi-container.stick li.name { opacity: 1; visibility: visible; -webkit-transition-delay: .5s; transition-delay: .5s;   }
	nav.navi-container.stick ul.navi li:nth-child(2) { margin-right: 0px; -webkit-transition-delay: .2s; transition-delay: .2s;  }
	nav.navi-container.stick ul.navi li:nth-child(4) { margin-left: 0px; -webkit-transition-delay: .2s; transition-delay: .2s; }
	ul.navi li { margin: 0; display: inline; margin: 0 20px;  }
	ul.navi li a { font-family: "Open Sans",sans-serif; font-size: 11px; text-transform: uppercase; letter-spacing: 2px; color: #fff;}
	ul.navi li a:hover {  color: #eb3b29; }
	ul.navi li:nth-child(2) { margin-right: -35px; }
	ul.navi li:nth-child(4) { margin-left: -35px; }
	ul.navi li.name { opacity: 0; visibility: hidden; }
	ul.navi li.name a {  font-family: "Cardo",Georgia,sans-serif; font-size: 24px; text-transform: capitalize; letter-spacing: 0;}
	

	
	.filters { margin: 0 0 40px; padding: 0; list-style: none; text-align: center; }
	.filters li { cursor: pointer; display: inline-block; margin: 0 30px; padding: 20px 20px; width: 100px; opacity: 0.5;  border-radius: 50em; height: 100px;  }
	.filters li img { max-width: 100%; margin: 0 auto; }
	.filters li:hover { opacity: 0.9; background: #f9f9f9;}

.pace-running .hel h1 { opacity: 1 !important; }
.hel { position: absolute; top: 40%; left: 0; right: 0; margin: 0 auto;  z-index:999; text-align: center; width: 80%; text-shadow: 0 0 10px rgba(0,0,0,0.5);}
.hel h1 { margin: 0; letter-spacing: 5px; font-family: "good_footregular", "Open Sans";  color: #fff; font-size: 130px; line-height: 120px; }
.hel h6 { color: #fff; line-height: 20px; }

.sup h1.myname { font-size: 24px; margin-top: 60px; display: none;   }
.sup { bottom: 50%; left: 0; right: 0; margin: 0 auto; z-index: 1; color: #332F40; width: 300px; text-align: center; }
.logo { position: relative; height: 150px; width: 300px;  }
.logo:before, .logo:after { height: 150px; width: 1px; background: #aaa; content: " "; position: absolute; left: 0; right: 0; margin: 0 auto; }
.logo:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
.logo:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
.icon-glasses,
.icon-camera { position: absolute; left: 0; right: 0; margin: 0 auto; opacity: 0.8; }
.icon-glasses { top: 15px;  }
.icon-camera { bottom: 15px; }
.icon-d, .icon-s { position: absolute; left: 0; right: 0; margin: 0 auto; top: 35%; font-size: 34px; color: #444;}
.icon-d { margin-left: -100px; }
.icon-s { margin-right: -100px;  }
.est-left, .est-right { position: absolute; font-size: 11px; top: 45%; color: #eb3b29;  }
.est-left { left: 0; } 
.est-right { right: 0; }

.about,.hello { position: relative; background: #fff; z-index: 3; }
.sup:hover .logo { -webkit-transform: translateY(20px); -moz-transform: translateY(20px); transform: translateY(20px); }
.sup:hover .logo:before { -webkit-transform: rotate(-45deg) translate3d(9px,30px,0);  -moz-transform: rotate(-45deg) translate3d(9px,30px,0);  -o-transform: rotate(-45deg) translate3d(9px,30px,0); transform: rotate(-45deg) translate3d(9px,30px,0); height: 80px; background: #555;   }
.sup:hover .logo:after { -webkit-transform: rotate(45deg) translate3d(-9px,30px,0); -moz-transform: rotate(45deg) translate3d(-9px,30px,0); -o-transform: rotate(45deg) translate3d(-9px,30px,0); transform: rotate(45deg) translate3d(-9px,30px,0); height: 80px;  background: #555; }

.sup h1.icon-d:after {  text-transform: uppercase; opacity: 0; font-size: 13px; }
.sup h1.icon-s:after{  text-transform: uppercase;  opacity: 0; font-size: 13px; }
.sup:hover h1.icon-d, .sup:hover h1.icon-s { font-size: 13px; letter-spacing: 2px;  }
.sup:hover h1.icon-d { -webkit-transform: translateX(80px);  -moz-transform: translateX(80px);  transform: translateX(80px);  opacity: 0; }
.sup:hover h1.icon-s { -webkit-transform: translateX(-80px); -moz-transform: translateX(-80px); transform: translateX(-80px); opacity: 0;  }
.sup:hover .icon-camera, .sup:hover .icon-glasses, .sup:hover .est-left, .sup:hover .est-right { opacity: 0; }
.sup:hover .est-left  { opacity: 0; }
.sup:hover .est-right {opacity: 0;}


.home { height: 100%; width: 100%; overflow: hidden; background: #332F40;   }
div.hello { height: 120%; width: 100%; background: no-repeat center bottom; background-size: cover  !important; position: relative;  }
div.hello:after { opacity: 0.4;  position: absolute; height: 100%; width: 100%; content: " "; background: #332F40; }
.intro-col p { font-family: "Cardo", Georgia, serif; font-size: 18px; line-height: 28px;  }

.works { background: #f9f9f9;  padding: 30px 0 80px; overflow: hidden; position: relative; }
ul.work-list { margin: 0 0 40px; padding: 0; list-style: none; }
ul.work-list li .work-desc { opacity: 0; }
ul.work-list li { margin: 0; line-height: 80px; position: relative; height: 87px; width: 100%;  }
ul.work-list li.showdesc { height: 260px;  } ul.work-list li.showdesc .work-desc { opacity: 1; }
ul.work-list:hover li a { color: #222; opacity: 0.5; }
ul.work-list li:hover a, ul.work-list:hover li:before  {  opacity: 1; color: #eb3b29;  }
ul.work-list li:before {content: ' ';width: 200%;height: 1px;position: absolute;z-index: 0;top: 0;background: rgba(0,0,0,0.1);left: -80%;}
ul.work-list li:hover:before { height: 100%;  opacity: 0.4;}
ul.work-list li a { letter-spacing: 3px; font-weight: 300; color: #222; text-transform: uppercase; font-size: 32px; z-index: 1; position: relative; float: left; width: 100%; }
ul.work-list li a span { font-size: 11px; }
.work-artwork { position: fixed; top: 0; right: 0; left: 0; margin: 0 auto; width: 100%; max-width: 100%; height: 100%; max-height: 100%; -webkit-box-shadow: 0 0 40px #000;  -moz-box-shadow: 0 0 40px #000; box-shadow: 0 0 40px #000;overflow: hidden; }
.work-artwork img {  width: 100%;  }
ul.work-list li.op { opacity: 0.2;  }

.photography { background: #fff url("../images/camera.jpg") no-repeat left -80px; padding: 120px 0 0; z-index: 3; position: relative; text-align: right; }
.photography .wrap-f { min-height: 180px; }
.photography h4.gf { font-size: 50px; line-height: 45px; }
ul.social-tiles { margin: 100px 0 0px; padding: 0; list-style: none; }
ul.social-tiles li { display: flex; flex-direction: column; justify-content: center; position: relative; margin: 0; padding: 0; background: #333; width: 33.33333%; float: left; height:
	 350px; -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.06); -moz-box-shadow: 0 0 15px rgba(0,0,0,0.06); box-shadow: 0 0 15px rgba(0,0,0,0.06); position: relative; overflow: hidden; }
ul.social-tiles li.tile-gf {  top: -10px;}
ul.social-tiles li.tile-flickr {  top: -20px; height: 420px; -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 20px rgba(0,0,0,0.3); box-shadow: 0 0 20px rgba(0,0,0,0.3); }
ul.social-tiles li.tile-instagram {  height: 380px;  }
.flexbox ul.social-tiles li h5.gf { display: block; z-index: 3;  font-size: 45px; line-height: 35px; color: #fff; text-align: center; }
ul.social-tiles li h5.gf { position: absolute; top: 45%; left: 0; right: 0; margin: 0 auto; color: #fff; text-align: center; font-size: 45px; line-height: 35px; }
ul.social-tiles li:hover h5.gf { opacity: 0; }
ul.social-tiles li span.tile-desc { z-index: 2; -webkit-transform: translateX(10px); -moz-transform: translateX(10px); transform: translateX(10px); font-style: italic; opacity: 0; position: absolute; text-align: center; left: 0; right: 0; margin: 0 auto; bottom: 40px; width: 60%; color: #fff; }
ul.social-tiles li:before {  opacity: 0.2; content: ""; background: #000; width: 100%; height: 100%; top: 0; left: 0; position: absolute; z-index: 1; }
ul.social-tiles li:hover h5.gf { color: #fff; -webkit-transform: translateY(0px) scale3d(0.96,0.96,0); -moz-transform: translateY(0px) scale3d(0.96,0.96,0); transform: translateY(0px) scale3d(0.96,0.96,0); }
.no-touch ul.social-tiles li:hover span.tile-desc  { opacity: 1; -webkit-transform: translateX(0px);  -moz-transform: translateX(0px);  transform: translateX(0px);  }
ul.social-tiles li:hover:before { opacity: 0.8; }
.touch ul.social-tiles li span.tile-desc { opacity: 1; }	  
	  
ul.social-tiles li .tile-img { -webkit-transform: scale3d(1,1,1) translateX(-5px); -moz-transform: scale3d(1,1,1) translateX(-5px); transform: scale3d(1,1,1) translateX(-5px); position: absolute; top: 0; left: 0; width: 105%; height: 102%; }
ul.social-tiles li:hover .tile-img  { -webkit-transform: scale3d(1.01,1.01,1) translateX(0px);  -moz-transform: scale3d(1.01,1.01,1) translateX(0px);  transform: scale3d(1.01,1.01,1) translateX(0px); }
ul.social-tiles li.tile-gf .tile-img {  background: url("../images/photography.jpg") no-repeat center !important;  background-size: cover; }
ul.social-tiles li.tile-flickr .tile-img {  background: url("../images/flickr.jpg") no-repeat center !important; background-size: cover !important; height: 420px;  }
ul.social-tiles li.tile-instagram .tile-img {  background: url("../images/instagram.jpg") no-repeat center !important; background-size: cover; }
ul.social-tiles li a {  height: 100%; width: 100%; top: 0; left: 0; position: absolute; float: left; display: inline-block; z-index: 4; }


.contact { position: relative; background: #fff url("../images/footer.jpg") bottom center no-repeat; background-size: 100% auto ; padding: 20px 0 180px; text-align: center; }
.no-touch .contact {   margin-top: -150px; padding: 70px 0 180px !important; }
.contact-bg { z-index: 0;  background:#f9f9f9; background-size: cover; position: absolute; height: 100%; width: 100%; top: 0; left: 0; }
.contact .wrap { position: relative; width: 500px; margin: 0 auto; text-align: center; padding: 20px;  }
.want-quote { padding: 0px 0 40px;  font-size: 18px; line-height: 60px; text-align: center; letter-spacing: 4px;  }

.arrow {position: relative;left: 0; right: 0; margin: 0 auto;width: 20px;border-radius: 20px;height: 30px;border: 1px solid #fff; }
.arrow i {width: 5px; height: 5px; background: #fff; border-radius: 50em; display: block;position: absolute;top: 40%;left: 0; right: 0; margin: 0 auto;-webkit-animation: headerArrow 1s infinite;-moz-animation: headerArrow 1s infinite;-o-animation: headerArrow 1s infinite;
animation: headerArrow 1s infinite; }


@-webkit-keyframes headerArrow {
  0% {
    -webkit-transform: translateY(7px);
    opacity: 1;
  }
  50% {
      -webkit-transform: translateY(4px);
    opacity: 1;
  }
  100% {
      -webkit-transform: translateY(7px);
    opacity: 1;
  }
}

@keyframes headerArrow {
  0% {
    transform: translateY(7px);
    opacity: 1;
  }
  50% {
     transform: translateY(4px);
    opacity: 1;
  }
  100% {
     transform: translateY(7px);
    opacity: 1;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}



@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}



.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #eb3b29;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  height: 2px;
  box-shadow: 0 0 10px 1px #eb3b29;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 12px;
  right: 15px;
  
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border: solid 2px transparent;
  border-top-color: #eb3b29;
  border-left-color: #eb3b29;

  border-radius: 30px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}


@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.delay {
  -webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
    animation-delay: 0.8s;
}

.delay2 {
  -webkit-animation-delay: 1.3s; /* Chrome, Safari, Opera */
    animation-delay: 1.3s;
}

.delay3 {
  -webkit-animation-delay: 1.9s; /* Chrome, Safari, Opera */
    animation-delay: 1.9s;
}


@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    -ms-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
0% {
opacity: 0;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}
100% {
opacity: 0.6;
-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInUp {
0% {
opacity: 0;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}
100% {
opacity: 0.6;
-webkit-transform: none;
transform: none;
}
}
.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}


@media only screen and (max-width: 1023px) {  	 ul.work-list li a span { display: none; }   }
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		 ul.work-list li a span { display: none; }
		.wrap { width: 95%; margin: 0 auto; }
		ul.social-tiles li h5.gf, ul.social-tiles li.tile-flickr h5.gf{ font-size: 32px; line-height: 36px; z-index: 9; }
		ul.social-tiles li:before { opacity: 0.3; }
		
		}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		
		.wrap-s, .wrap { width: 95%; margin: 0 auto; }
		.title-col{ width: 85%; margin: 0 auto;  }
		 .info-col, .wrap.want-quote { width: 60%; margin: 0 auto; }
		
		
		.hel h1, .gf { font-size: 50px; line-height: 55px; }
		
	
		.works { padding: 20px 0 30px; }
		ul.work-list li { font-size: 24px; line-height: 30px; padding: 15px 0 15px; height: inherit; float: left;   }
		
		ul.work-list li a { font-size: 22px; }
		ul.work-list li a span  { float: left; width: 100%;  }
		
		
		
		ul.social-tiles li h5.gf, ul.social-tiles li.tile-flickr h5.gf, ul.social-tiles li.tile-gf h5.gf, ul.social-tiles li.tile-instagram h5.gf{ font-size:35px !important; line-height: 33px !important; top: 15% !important; }
	    ul.social-tiles li { height: 250px !important; }
		ul.social-tiles li h5.gf { margin: 0 auto;  }
		ul.social-tiles li span.tile-desc { font-size: 14px; }
		ul.social-tiles li:before { opacity: 0.4; }
		
		.works a.btn-large { font-size: 24px; text-align: center; margin: 0 auto; }
		.works a.btn:after {  font-size: 24px;  margin-left: 10px; opacity: 1;   }
		}


	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 579px) {
		.info-col { width: 80%; }
		.info-col p { font-size: 14px; }
		.intro-col p { font-size: 18px; }
		ul.navi li.name, ul.filters, ul.work-list li a span, .want-quote { display: none; }
		ul.social-tiles li {  height: 350px !important; position: relative !important; width: 100%; top: 0 !important; }
	ul.social-tiles li h5.gf, ul.social-tiles li.tile-flickr h5.gf, ul.social-tiles li.tile-gf h5.gf, ul.social-tiles li.tile-instagram h5.gf{ padding: 10px; top: 45% !important; }
		.photography .wrap-f { min-height: 70px; text-align: center;  }
		.photography  { background: none; padding: 30px 0 10px; }
		ul.work-list li a { font-size: 18px; line-height: 24px;  }
		ul.navi li, nav.navi-container.stick ul.navi li:nth-child(4), nav.navi-container.stick ul.navi li:nth-child(2),
		ul.navi li:nth-child(4),
		ul.navi li:nth-child(2) { margin: 0 10px; }
		.contact, .photography { overflow: hidden; }
		.contact { margin-top: 30px; padding: 10px 0 70px;}
		div.hello { background: url("../images/bg-mobile.jpg") center !important;  }
		#hello { max-height:560px;  }
		nav.navi-container { position: fixed; bottom: inherit; top: 0; }
		.hel { top: 55%; }
		.email-add { font-size: 35px; line-height: 35px; }
		}

@media only screen and (max-width: 350px) {
	.hel { top: 55%; }
}

