<h2>About</h2>
<p>I'm an Application Developer, I like solving problems and building things, I work with PL/SQL and Java. I'm currently working at IBM, Bangalore.</p>

<p>I'm from a city called Visakhapatnam. After completing my degree in computer science and engineering, I moved to the charming city of Bangalore. I'm always in lookout for learning new things and challenging myself. I love cricket and enjoy clicking photographs.</p>

<hr />

<h2>Resume</h2>
<p><a href="/srinivasgudla_resume.pdf">Download <em>pdf</em></a><p>
<p> <em>Updated March,2015.</em> Contact me with any questions or comments</p>


<hr />

<h2>Contact</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/srinivasgudla">Twitter</a>
  </li>
   <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="http://facebook.com/srinivas">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="http://instagram.com/srinivasgudla">Instagram</a>
  </li>
</ul>
<hr>
<p>© 2015. All rights reserved. <br> Crafted by <a href="http://ravigopalkesari.com" rel="nofollow">Ravigopal Kesari</a>.<p>
